.App {
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.burgerPane {
  display: inline-block;

}

.bulletpoint {
  position: relative;
}

.burggerStackingArea {
  position: relative;
  margin-bottom: 5px;
}

.stack {
  text-align: center;
  margin-left: 200px;
  border: 10px solid green;
  width: 500px;
  height: 670px;
}

.menu {
  text-align: centercs;
  border: 10px solid green;
  width: 500px;
  height: 100%;
}


#btn {
  padding: 3px;
  margin-left: 5px;
  background-color: rosybrown;
  display: inline-block;
  align-items: flex-end;
}

.ingredientList {
  display: inline-block;
  text-align: justify;
}

.list {
  padding: 10px;
  margin: 20px 20px;
}

h2 {
  margin: 20px;
  text-align: center;
}

li {
  margin: 20px;
  text-align: left;
}